<form class="new-exercise-formgroup" [formGroup]="createExerciseForm">

  <div class="grid-container ">
    <div class="grid-item-form">
      <div>
        <p>Title of new Exercise:</p>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="titleField">
        </mat-form-field>
      </div>

      <div>
        <p>Description:</p>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="descriptionField">
        </mat-form-field>
      </div>

      <br>

      <!--
      <div>
        <p>Primary Muscle Groups:</p>

        <div *ngIf="primaryMuscleGroupsList.length > 0">

          <ul>
            <li *ngFor="let mg of primaryMuscleGroupsList">{{ mg }}</li>
          </ul>
        </div>

        <select formControlName="primaryMuscleGroupsListInFg">
          <option value="" disabled selected>Select Muscle Group</option>
          <option *ngFor="let mg of muscleGroups" [value]="mg">{{ mg }}</option>
        </select>

        <button class="add-mg-button" mat-raised-button color="primary" type="button"
          (click)="addMuscleGroup(primaryMuscleGroupsList,  'primaryMuscleGroupsList')">Add Item</button>
      </div>

      <br>

      <div>
        <p>Secondary Muscle Groups:</p>
        <div *ngIf="secondaryMuscleGroupsList.length > 0">

          <ul>
            <li *ngFor="let mg of secondaryMuscleGroupsList">{{ mg }}</li>
          </ul>
        </div>

        <select formControlName="secondaryMuscleGroupsListInFg">
          <option value="" disabled selected>Select Muscle Group</option>
          <option *ngFor="let mg of muscleGroups" [value]="mg">{{ mg }}</option>
        </select>

        <button class="add-mg-button" mat-raised-button color="primary" type="button"
          (click)="addMuscleGroup(secondaryMuscleGroupsList, 'secondaryMuscleGroupsList')">
          Add Item
        </button>

      </div>
    -->

<mat-form-field appearance="fill">
  <mat-label>Primary Muscle Group</mat-label>
  <select matNativeControl formControlName="primaryMuscleGroupsListInFg">
    <option value="" disabled selected>Select Muscle Group</option>
    <option *ngFor="let mg of muscleGroups" [value]="mg">{{ mg }}</option>
  </select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Secondary Muscle Group</mat-label>
  <select matNativeControl formControlName="secondaryMuscleGroupsListInFg">
    <option value="" disabled selected>Select Muscle Group</option>
    <option *ngFor="let mg of muscleGroups" [value]="mg">{{ mg }}</option>
  </select>
</mat-form-field>

      <br>
      <br>
      <!-- Submit Button -->
      <button (click)="onSubmit()" mat-raised-button color="accent" type="submit">Save this new Exercise
      </button>
    </div>

    <div class="grid-item-pic">
      <img src="/assets/musclegroups.jpg" alt="musclegroup-figure">
    </div>

  </div>

</form>