<mat-toolbar class="navbar" color="primary">    
    <button *ngIf="notInLoginMode"
    mat-icon-button 
    class="navbar-homebutton" 
    aria-label="Example icon-button with home icon"
    (click)="goToHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span id="navbar-title" class="navbar-spacer">{{ navbarTitle }}</span>

  <button 
    *ngIf="notInLoginMode"
    mat-icon-button
    [matMenuTriggerFor]="menu" 
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item>
      <mat-icon>data_thresholding</mat-icon>
      <span>Workout Data</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>

<span id="navbar-title" class="username-display">You are logged in as: {{ userDisplayName }}</span>
  

    <!--
    <button 
    mat-icon-button class="example-icon" 
    aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>
    -->
  </mat-toolbar>
  